bin
gen
gwt-unitCache
libs
roomforchange-html/war/assets
roomforchange-html/war/com.sturdyhelmetgames.roomforchange.GwtDefinition
roomforchange-html/war/WEB-INF/classes
roomforchange-html/war/WEB-INF/deploy
roomforchange-html/.gwt
Thumbs.db

# Package Files #
#*.jar
*.war
*.ear